
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584269521649402456.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584269521649402456.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584269521649402456.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584269521649402456.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584269521649402456.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584269521649402456.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584269521649402456.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584269521649402456.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584269521649402456.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584269521649402456.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584269521649402456.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584269521649402456.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584269521649402456.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584269521649402456.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584269521649402456.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584269521649402456.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584269521649402456.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584269521649402456.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584269521649402456.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584269521649402456.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584269521649402456.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584269521649402456.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584269521649402456.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584269521649402456.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584269521649402456.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584269521649402456.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584269521649402456.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584269521649402456.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584269521649402456.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584269521649402456.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584269521649402456.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584269521649402456.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584269521649402456.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584269521649402456.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584269521649402456.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584269521649402456.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584269521649402456.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584269521649402456.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584269521649402456.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584269521649402456.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584269521649402456.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584269521649402456.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584269521649402456.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584269521649402456.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584269521649402456.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584269521649402456.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584269521649402456.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-584269521649402456.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584269521649402456.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584269521649402456.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584269521649402456.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584269521649402456.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-584269521649402456.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584269521649402456.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-584269521649402456.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584269521649402456.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584269521649402456.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584269521649402456.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584269521649402456.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584269521649402456.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-584269521649402456.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584269521649402456.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-584269521649402456 .gp-relative{position:relative}.gps-584269521649402456 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584269521649402456 .gp-mb-0{margin-bottom:0}.gps-584269521649402456 .gp-inline-block{display:inline-block}.gps-584269521649402456 .gp-flex{display:flex}.gps-584269521649402456 .gp-grid{display:grid}.gps-584269521649402456 .gp-contents{display:contents}.gps-584269521649402456 .\!gp-hidden{display:none!important}.gps-584269521649402456 .gp-hidden{display:none}.gps-584269521649402456 .gp-h-auto{height:auto}.gps-584269521649402456 .gp-h-full{height:100%}.gps-584269521649402456 .gp-w-full{width:100%}.gps-584269521649402456 .gp-max-w-full{max-width:100%}.gps-584269521649402456 .gp-flex-none{flex:none}.gps-584269521649402456 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584269521649402456 .gp-flex-col{flex-direction:column}.gps-584269521649402456 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584269521649402456 .gp-duration-200{transition-duration:.2s}.gps-584269521649402456 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584269521649402456 .tablet\:\!gp-hidden{display:none!important}.gps-584269521649402456 .tablet\:gp-hidden{display:none}.gps-584269521649402456 .tablet\:gp-h-auto{height:auto}.gps-584269521649402456 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584269521649402456 .mobile\:\!gp-hidden{display:none!important}.gps-584269521649402456 .mobile\:gp-hidden{display:none}.gps-584269521649402456 .mobile\:gp-h-auto{height:auto}.gps-584269521649402456 .mobile\:gp-flex-none{flex:none}}.gps-584269521649402456 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedA&skey=87759fb096548f6d&v=v24) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gyJTojwh1r"}' data-id="gyJTojwh1r" id="gyJTojwh1r" data-same-height-subgrid-container class="gyJTojwh1r gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gt8WIvIXx2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gnYpNN4rOf"}' data-id="gnYpNN4rOf" id="gnYpNN4rOf" data-same-height-subgrid-container class="gnYpNN4rOf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o:0"
      class="gTFvRTnle5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"goz6x6fPdM"}' data-id="goz6x6fPdM" id="goz6x6fPdM" data-same-height-subgrid-container class="goz6x6fPdM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCB7vkzJP0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3oa_poXSy"
        class="g3oa_poXSy"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.gg3oa_poXSy_text_440668732 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1_2e-m8Oh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8SL72imaM"
        class="g8SL72imaM"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.gg8SL72imaM_text_668521995 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gJuuopV-0g gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gArwbpP4ND"
        class="gArwbpP4ND"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.ggArwbpP4ND_text_884992751 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o:1"
      class="geb3qPTi3I gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdlDPaT3hn"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779123531826 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdlDPaT3hn"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggdlDPaT3hn_srcSet_desktop_src_520782564 }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU2MyIgaGVpZ2h0PSIzMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1NjMtMzEzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTYzIiBoZWlnaHQ9IjMxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU2MyIgaGVpZ2h0PSIzMTMiIGZpbGw9InVybCgjZy0xNTYzLTMxMykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1NjMiIHRvPSIxNTYzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggdlDPaT3hn_srcSet_desktop_src_520782564 }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU2MyIgaGVpZ2h0PSIzMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1NjMtMzEzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTYzIiBoZWlnaHQ9IjMxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU2MyIgaGVpZ2h0PSIzMTMiIGZpbGw9InVybCgjZy0xNTYzLTMxMykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1NjMiIHRvPSIxNTYzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggdlDPaT3hn_srcSet_desktop_src_520782564 }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU2MyIgaGVpZ2h0PSIzMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1NjMtMzEzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTYzIiBoZWlnaHQ9IjMxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU2MyIgaGVpZ2h0PSIzMTMiIGZpbGw9InVybCgjZy0xNTYzLTMxMykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1NjMiIHRvPSIxNTYzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggdlDPaT3hn_srcSet_desktop_src_520782564 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o:2;--d-mobile:none"
      class="ghnQiiuK7y gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Section - Sep 13 18:36:10" }],
    "name": "Section - Sep 13 18:36:10",
    "tag": "section",
    "class": "gps-584269521649402456 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/amw9gb-1k/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=584269521649402456)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3oa_poXSy_text_440668732","label":"gg3oa_poXSy_text_440668732","default":"Damen"},{"type":"html","id":"gg8SL72imaM_text_668521995","label":"gg8SL72imaM_text_668521995","default":"Herren"},{"type":"html","id":"ggArwbpP4ND_text_884992751","label":"ggArwbpP4ND_text_884992751","default":"Sets"},{"type":"html","id":"ggdlDPaT3hn_srcSet_desktop_src_520782564","label":"ggdlDPaT3hn_srcSet_desktop_src_520782564","default":"https://cdn.shopify.com/s/files/1/0895/0343/3041/files/gempages_584259584839910260-0dfbe7f5-dd16-4f40-87df-7c308c4167ad.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}