
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584260026869220212.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584260026869220212.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584260026869220212.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584260026869220212.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584260026869220212.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584260026869220212.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584260026869220212.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584260026869220212.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584260026869220212.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584260026869220212.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584260026869220212.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584260026869220212.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584260026869220212.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584260026869220212.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-584260026869220212.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584260026869220212.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584260026869220212.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-584260026869220212.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-584260026869220212.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584260026869220212.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584260026869220212.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584260026869220212.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-584260026869220212.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584260026869220212.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584260026869220212.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-584260026869220212.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584260026869220212.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584260026869220212.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584260026869220212.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584260026869220212.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-584260026869220212.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584260026869220212.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584260026869220212.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-584260026869220212.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584260026869220212.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584260026869220212.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-584260026869220212.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584260026869220212.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584260026869220212.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584260026869220212.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584260026869220212.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584260026869220212.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584260026869220212.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584260026869220212.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584260026869220212.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584260026869220212.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584260026869220212.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584260026869220212.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-584260026869220212.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584260026869220212.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584260026869220212.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-584260026869220212.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584260026869220212.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584260026869220212.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584260026869220212.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584260026869220212.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584260026869220212.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584260026869220212.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584260026869220212.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584260026869220212.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584260026869220212.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584260026869220212.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584260026869220212.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584260026869220212.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584260026869220212.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584260026869220212.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584260026869220212.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-584260026869220212.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-584260026869220212.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584260026869220212.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584260026869220212.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584260026869220212.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584260026869220212.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-584260026869220212.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584260026869220212.gps.gpsil [style*="--ws:"]{white-space:var(--ws)}.gps-584260026869220212.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584260026869220212.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-584260026869220212.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-584260026869220212.gps.gpsil [style*="--bg-tablet:"]{background:var(--bg-tablet)}.gps-584260026869220212.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-584260026869220212.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-584260026869220212.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-584260026869220212.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-584260026869220212.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-584260026869220212.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584260026869220212.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584260026869220212.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-584260026869220212.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584260026869220212.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584260026869220212.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-584260026869220212.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-584260026869220212.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584260026869220212.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584260026869220212.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584260026869220212.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584260026869220212.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-584260026869220212.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-584260026869220212.gps.gpsil [style*="--ws-tablet:"]{white-space:var(--ws-tablet)}.gps-584260026869220212.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584260026869220212.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-584260026869220212.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-584260026869220212.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-584260026869220212.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-584260026869220212.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-584260026869220212.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-584260026869220212.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-584260026869220212.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584260026869220212.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584260026869220212.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-584260026869220212.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584260026869220212.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584260026869220212.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-584260026869220212.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-584260026869220212.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584260026869220212.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584260026869220212.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584260026869220212.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584260026869220212.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-584260026869220212.gps.gpsil [style*="--ws-mobile:"]{white-space:var(--ws-mobile)}.gps-584260026869220212.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584260026869220212.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-584260026869220212 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-584260026869220212 .gp-pointer-events-none{pointer-events:none}.gps-584260026869220212 .gp-invisible{visibility:hidden}.gps-584260026869220212 .gp-absolute{position:absolute}.gps-584260026869220212 .gp-relative{position:relative}.gps-584260026869220212 .gp-inset-0{inset:0}.gps-584260026869220212 .gp-z-1{z-index:1}.gps-584260026869220212 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584260026869220212 .gp-mb-0{margin-bottom:0}.gps-584260026869220212 .gp-block{display:block}.gps-584260026869220212 .gp-inline-block{display:inline-block}.gps-584260026869220212 .gp-flex{display:flex}.gps-584260026869220212 .gp-inline-flex{display:inline-flex}.gps-584260026869220212 .gp-grid{display:grid}.gps-584260026869220212 .gp-contents{display:contents}.gps-584260026869220212 .\!gp-hidden{display:none!important}.gps-584260026869220212 .gp-hidden{display:none}.gps-584260026869220212 .gp-h-5{height:20px}.gps-584260026869220212 .gp-h-auto{height:auto}.gps-584260026869220212 .gp-h-full{height:100%}.gps-584260026869220212 .gp-w-5{width:20px}.gps-584260026869220212 .gp-w-full{width:100%}.gps-584260026869220212 .gp-w-max{width:-moz-max-content;width:max-content}.gps-584260026869220212 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-584260026869220212 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-584260026869220212 .gp-max-w-full{max-width:100%}.gps-584260026869220212 .gp-flex-1{flex:1 1 0%}.gps-584260026869220212 .gp-flex-none{flex:none}.gps-584260026869220212 .gp-shrink-0{flex-shrink:0}.gps-584260026869220212 .gp-cursor-default{cursor:default}.gps-584260026869220212 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584260026869220212 .gp-flex-col{flex-direction:column}.gps-584260026869220212 .gp-flex-wrap{flex-wrap:wrap}.gps-584260026869220212 .gp-items-center{align-items:center}.gps-584260026869220212 .gp-justify-start{justify-content:flex-start}.gps-584260026869220212 .gp-justify-center{justify-content:center}.gps-584260026869220212 .gp-overflow-hidden{overflow:hidden}.gps-584260026869220212 .gp-break-words{overflow-wrap:break-word}.gps-584260026869220212 .gp-text-center{text-align:center}.gps-584260026869220212 .gp-leading-\[0\]{line-height:0}.gps-584260026869220212 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-584260026869220212 .gp-no-underline{text-decoration-line:none}.gps-584260026869220212 .gp-opacity-25{opacity:.25}.gps-584260026869220212 .gp-opacity-30{opacity:.3}.gps-584260026869220212 .gp-opacity-75{opacity:.75}.gps-584260026869220212 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584260026869220212 .gp-duration-200{transition-duration:.2s}.gps-584260026869220212 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584260026869220212 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-584260026869220212 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584260026869220212 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584260026869220212 .data-\[hidden\=true\]\:\!gp-hidden[data-hidden=true]{display:none!important}.gps-584260026869220212 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-584260026869220212 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-584260026869220212 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-584260026869220212 .tablet\:gp-block{display:block}.gps-584260026869220212 .tablet\:\!gp-hidden{display:none!important}.gps-584260026869220212 .tablet\:gp-hidden{display:none}.gps-584260026869220212 .tablet\:gp-h-auto{height:auto}.gps-584260026869220212 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584260026869220212 .mobile\:gp-block{display:block}.gps-584260026869220212 .mobile\:\!gp-hidden{display:none!important}.gps-584260026869220212 .mobile\:gp-hidden{display:none}.gps-584260026869220212 .mobile\:gp-h-auto{height:auto}.gps-584260026869220212 .mobile\:gp-flex-none{flex:none}}.gps-584260026869220212 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584260026869220212 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584260026869220212 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584260026869220212 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584260026869220212 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-584260026869220212 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDRi-BtLK9"}' data-id="gDRi-BtLK9" id="gDRi-BtLK9" data-same-height-subgrid-container class="gDRi-BtLK9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:62px;--pl-mobile:15px;--pb-mobile:62px;--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfIM9Qqbl8 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1lVPdQN87"}' data-id="g1lVPdQN87" id="g1lVPdQN87" data-same-height-subgrid-container class="g1lVPdQN87 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:56px;--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVLemB-M4M gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gb9ltyiD1M"
        class="gb9ltyiD1M"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--pl:var(--g-s-l);--pr:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggb9ltyiD1M_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4CPdBhjYz"
        class="g4CPdBhjYz"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:56px;--pl:var(undefined);--pr:var(undefined);--pl-mobile:var(undefined);--pr-mobile:var(undefined);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4CPdBhjYz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl)" class="g1mMa-2Wft ">
      
    <gp-countdown-timer
        data-id="g1mMa-2Wft"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1681972269427,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC+7","timerDaily":{"format":"pm","hours":2,"mins":50},"timerEverygreen":{"days":8,"endTime":1683267061707,"hours":3,"mins":55,"startTime":1681367469427},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g1mMa-2Wft","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":{},"color":"transparent","isCustom":false,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"daily","dateStandard":1681972269427,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC+7","timerDaily":{"format":"pm","hours":2,"mins":50},"timerEverygreen":{"days":8,"endTime":1683267061707,"hours":3,"mins":55,"startTime":1681367469427},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"colorLabel":"#424242","colorNumber":"#242424","enableLabelTextStyle":true,"horizontalGap":"auto","itemPadding":{"desktop":{"bottom":"0px","left":"16px","right":"16px","top":"0px"}},"labelTypo":{"attrs":{"color":"#424242"},"custom":{"fontSize":{"desktop":"16px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontVariants":["300","regular","500","600","700","800","900","300italic","italic","500italic","600italic","700italic","800italic","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"labelTypography":{"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#242424"},"custom":{"fontSize":{"desktop":"38px","mobile":"33px","tablet":"38px"},"fontStyle":"normal","fontVariants":["200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic"],"fontWeight":"700","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-1"},"numTypography":{"custom":{"desktop":{"fontSize":"38px","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontSize":"33px"},"tablet":{"fontSize":"38px"}}},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"var(--g-s-s)"},"tag":"Countdown","uid":"g1mMa-2Wft","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:auto;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
          > </a>
          
          
    <div style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text" id="day"
        class="g1mMa-2Wft"
        style="--mb:var(--g-s-s);--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text"
        class="g1mMa-2Wft"
        style="--c:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1mMa-2Wft_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text" id="hour"
        class="g1mMa-2Wft"
        style="--mb:var(--g-s-s);--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text"
        class="g1mMa-2Wft"
        style="--c:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1mMa-2Wft_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text" id="minute"
        class="g1mMa-2Wft"
        style="--mb:var(--g-s-s);--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text"
        class="g1mMa-2Wft"
        style="--c:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1mMa-2Wft_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text" id="second"
        class="g1mMa-2Wft"
        style="--mb:var(--g-s-s);--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mMa-2Wft-text"
        class="g1mMa-2Wft"
        style="--c:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1mMa-2Wft_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
      </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghgIsDW_aR"
        class="ghgIsDW_aR"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:var(--g-c-text-1, text-1);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghgIsDW_aR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if 'latest' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['']
            assign productId = 'latest' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g36o9EphNI" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="g36o9EphNI"
        data-id="g36o9EphNI"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "", "hasPreSelected": false, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g36o9EphNI"}' data-id="g36o9EphNI-row" id="g36o9EphNI" data-same-height-subgrid-container class="g36o9EphNI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:30px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gidg2K1eNX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtHIEeGBRj"}' data-id="gtHIEeGBRj" id="gtHIEeGBRj" data-same-height-subgrid-container class="gtHIEeGBRj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:var(--g-s-s);--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gnnQcXnNks gp-relative gp-flex gp-flex-col"
    >
      
    {% if product %}
      
    {% assign content = section.settings.ggLx0jNldwt_displayContent %}

    {%if content.size > 0 %}
      {% if variant.compare_at_price and variant.compare_at_price > 0 %}
        {% assign amountDiscount = variant.compare_at_price | minus: variant.price %}
        {% assign percentDiscount = amountDiscount | times: 100.0 | divided_by: variant.compare_at_price | round%}
      {% else %}
        {% assign amountDiscount = 0 %}
        {% assign percentDiscount = 0 %}
      {% endif %}

      {% assign percentDiscountValue = percentDiscount | append: "%" %}
      {% assign amountDiscountValue = amountDiscount | money_without_trailing_zeros %}
      {% assign price = variant.price | divided_by: 100 %}
      {% assign minPriceValue = product.variants | map: "price" | sort | first | money_without_trailing_zeros %}
      {% assign inventoryQuantityValue = variant.inventory_quantity | default: 0 %}

      {% assign percentDiscountKey = "{percent_discount}" %}
      {% assign amountDiscountKey = "{amount_discount}" %}
      {% assign minPriceKey = "{min_price}" %}
      {% assign inventoryQuantityKey = "{inventory_quantity}" %}
    {% endif %}
  
      
  {% assign isShow = true %}
  {% assign conditionTriggers = "" %}
  {% assign isInventoryStatus = false %}
  {% assign isDiscountPrice = false %}
  {% assign isPriceRange = false %}
  {% assign isCreationDate = false %}
  {% assign isProductTag = false %}
  
      {% assign type = "in_stock" %}
      {% assign shouldContinue = false %}
      {% if variant.inventory_policy == "continue" and type != "out_of_stock" %}
        {% assign shouldContinue = true %}
      {% endif %}
      {% if variant.inventory_management == null or shouldContinue  %}
        {% assign conditionTriggers = conditionTriggers | append: "," | append: true %}
      {% elsif variant.inventory_quantity != null %}
        {% assign compareValue = variant.inventory_quantity %}
        {% if type == "in_stock" %}
          {% assign conditionType = "exact_or_above" %}
          {% assign from = 1 %}
          {% assign to = 15 %}
          
    {% assign enabled = false %}
    {% case conditionType %}
      {% when "exact" %}
        {% if compareValue == from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "above" %}
        {% if compareValue > from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "below" %}
        {% if compareValue < from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "exact_or_above" %}
        {% if compareValue >= from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "exact_or_below" %}
        {% if compareValue <= from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "between" %}
        {% if compareValue >= from and compareValue <= to %}
          {% assign enabled = true %}
        {% endif %}
      {% else %}
        {% assign enabled = false %}
    {% endcase %}
  
          {% if conditionType == "below" or conditionType == "exact_or_below" %}
            {% assign min = 1 %}
            {% assign from = 1 %}
            {% assign to = from | minus: min | plus: 1 %}
            {% if compareValue >= from and compareValue <= to %}
              {% assign enabled = true %}
            {% else %}
              {% assign enabled = false %}
            {% endif %}
          {% endif %}
          {% assign isInventoryStatus = enabled %}
        {% else %}
          {% if compareValue <= 0 and variant.inventory_policy != "continue"  %}
            {% assign isInventoryStatus = true %}
          {% endif %}
        {% endif %}
        {% assign conditionTriggers = conditionTriggers | append: "," | append: isInventoryStatus %}
      {% else %}
        {% assign conditionTriggers = conditionTriggers | append: "," | append: false %}
      {% endif %}

  
  {% assign trigger_arr = conditionTriggers | split: "," %}
  {% for trigger in trigger_arr %}
    {% if trigger == "false" %}
      {% assign isShow = false %}
    {% endif %}
  {% endfor %}
  {% assign price = variant.price | times: 1.0 %}
  {% assign salePrice = variant.compare_at_price | times: 1.0 %}
  {% assign priceSave = salePrice | minus: price %}
  {% assign isEmptyBadgeContent = false %}
  {% assign isNotDiscount = false %}
  {% assign isBadgeContentHasDiscount = true %}
  {% if isEmptyBadgeContent == true %}
    {% assign isNotDiscount = true %}
  {% endif %}
  {% if isBadgeContentHasDiscount == true and priceSave <= 0 %}
    {% assign isNotDiscount = true %}
  {% endif %}
  {% if isShow and isNotDiscount == false %}
    {% assign className = "" %}
  {% else %}
    {% assign className = "!gp-hidden" %}
  {% endif %}
  
      <gp-product-badge
        data-id="gLx0jNldwt" id="g-product-badge-gLx0jNldwt" gp-data-hidden="false"
        gp-data='{"minPrice":"{{ minPriceValue | replace: '"', '\\"' | escape }}","variantIDs":"{{  product.variants | map: "id" | json | escape }}","variantInventoryQuantities":"{{ product.variants | map: "inventory_quantity" | json | escape }}","amountDiscount":"{{amountDiscountValue | replace: '"', '\\"' | escape }}","percentDiscount":"{{percentDiscountValue}}","price":"{{price}}","displayTrigger":[{"conditionType":"exact_or_above","from":"1","priority":0,"quantityType":"exact_or_above","to":"15","triggerEvent":"inventory_status","type":"in_stock"}],"uid":"gLx0jNldwt","productCreatedAt":"{{product.created_at | date: "%Y-%m-%d" }}","productTags":"{{ product.tags | join: "," | replace: '"', '\\"' | escape }}","isTextBadge":true}'
        class="gp-shrink-0 product-badge gLx0jNldwt  {{ className }}"
        style="z-index:2;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        data-display-content="{{ section.settings.ggLx0jNldwt_displayContent }}"
      >
        <div class="gp-flex gp-justify-start ">
          <div
            data-product-id id="gLx0jNldwt"
            class="gp-h-full"
            style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--mb:0;opacity:1"
          >
            <style></style>
            
                <div class="gp-w-full gp-h-full gp-overflow-hidden product-badge-item">
                  <div
                    class="gp-w-full gp-h-full gp-flex gp-items-center gp-justify-center gp-overflow-hidden"
                    style="--btlr:0px;--btlr-tablet:0px;--btlr-mobile:0px;--btrr:0px;--btrr-tablet:0px;--btrr-mobile:0px;--bblr:0px;--bblr-tablet:0px;--bblr-mobile:0px;--bbrr:0px;--bbrr-tablet:0px;--bbrr-mobile:0px;--bg:#EA3335;--bg-tablet:#EA3335;--bg-mobile:#EA3335;height:100%"
                  >
                    <pre
                      id="product-badge-content"
                      class="gp-break-words gp-text-center "
                      style="--ws:pre-wrap;--ws-tablet:pre-wrap;--ws-mobile:pre-wrap;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;--ts:none;--pl:var(--g-s-xs);--pr:var(--g-s-xs);--pt:var(--g-s-s);--pb:var(--g-s-s)"
                    >{{ content | replace: percentDiscountKey, percentDiscountValue | replace: amountDiscountKey, amountDiscountValue | replace: inventoryQuantityKey, inventoryQuantityValue | replace: minPriceKey, minPriceValue }}</pre>
                  </div>
                </div>
          </div>
        </div>
      </gp-product-badge>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-badge-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {% endif %}
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gW2bGGVZT3 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gq_65DfEAo" data-id="gq_65DfEAo"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gq_65DfEAo"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        gp-data='{"priceType":"regular","uid":"gq_65DfEAo","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gq_65DfEAo" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money  gp-text-instant"
          style="--w:100%;--tdc:#242424;--tdt:1px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0Egmn1E81 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gvY-JCSGyU" data-id="gvY-JCSGyU" data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gvY-JCSGyU"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        gp-data='{"priceType":"compare","uid":"gvY-JCSGyU","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gvY-JCSGyU" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-product-compare-price  gp-text-instant"
          style="--w:100%;--tdc:#B4B4B4;--tdt:auto;--ta:left;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:line-through"
        >
          
      {% if variant.compare_at_price  %}
        {{ variant.compare_at_price | money}}
      {% else %}

      {% endif %}
    
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    {%- assign total_combinations = 1 -%}
    {% for option in product.options_with_values %}{%- assign total_combinations = total_combinations | times: option.values.size -%}{% endfor %}
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.ggh20ext2O-_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.ggh20ext2O-_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"open-cart-drawer","enableMessage":true,"label":"GET LIMITED DEAL","errorMessage":"{{ section.settings.ggh20ext2O-_errorMessage | escape }}","successMessage":"{{ section.settings.ggh20ext2O-_successMessage | escape }}","outOfStockLabel":"Out of stock","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message="{{ section.settings.ggh20ext2O-_variantSelectionRequiredMessage }}"
      gp-enable-third-partycart="{{shop.metafields.GEMPAGES.enableThirdPartyCart}}"
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:48px;--ta:center" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="gh20ext2O-"].gp-button-base::before, [data-id="gh20ext2O--interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gh20ext2O-"]:hover::before, [data-id="gh20ext2O--interaction"]:hover::before {
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  }</style>
        
        <button
          data-id="gh20ext2O-" dataId="gh20ext2O-" data-state="idle" aria-label="GET LIMITED DEAL"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:16px;--pb:16px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#242424;--bg:#234BC8;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gp-button-atc tcustomizer-submit-button gh20ext2O- gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggh20ext2O-_label }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:48px;--ta:center" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="gh20ext2O--sold-out"].gp-button-base::before, [data-id="gh20ext2O--sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gh20ext2O--sold-out"]:hover::before, [data-id="gh20ext2O--sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gh20ext2O--sold-out" dataId="gh20ext2O--sold-out" data-state="idle" aria-label="{{ section.settings.ggh20ext2O-_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:16px;--pb:16px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--bg:#234BC8;--hvr-bg:#234BC8;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out gh20ext2O--sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggh20ext2O-_outOfStockLabel }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbGYUBZCMi"}' data-id="gbGYUBZCMi" id="gbGYUBZCMi" data-same-height-subgrid-container class="gbGYUBZCMi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:relative;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--z:2;--cg:auto;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gto9GTFrUt gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gi7HcMl7L9"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-tablet:40px;--ta:center"
      class="gp-group/image gp-relative force-publish-1779123544208 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gi7HcMl7L9"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggi7HcMl7L9_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzcwLTUxNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgZmlsbD0idXJsKCNnLTc3MC01MTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NzAiIHRvPSI3NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggi7HcMl7L9_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzcwLTUxNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgZmlsbD0idXJsKCNnLTc3MC01MTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NzAiIHRvPSI3NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggi7HcMl7L9_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzcwLTUxNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzcwIiBoZWlnaHQ9IjUxNSIgZmlsbD0idXJsKCNnLTc3MC01MTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NzAiIHRvPSI3NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggi7HcMl7L9_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:auto;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqCjmEaY8t"}' data-id="gqCjmEaY8t" id="gqCjmEaY8t" data-same-height-subgrid-container class="gqCjmEaY8t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:absolute;--pos-tablet:static;--right:-100px;--right-tablet:20px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:50px;--pl:16px;--pb:32px;--pr:16px;--pt-mobile:51px;--pl-mobile:28px;--pb-mobile:28px;--pr-mobile:28px;--top:50px;--z:99;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:270px;--w-tablet:540px;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIYBpuO7nZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gHO0R-Eerh"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:50%;--left-mobile:50%;--left-tablet:50%;--op:100%;--pageType:GP_STATIC;--pos:absolute;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:-74px;--ml-mobile:-74px;--ml-tablet:-74px;--top:-61px;--top-mobile:-62px;--z:999;--ta:center"
      class="gp-group/image gp-relative force-publish-1779123544210 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHO0R-Eerh"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggHO0R-Eerh_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUyIiBoZWlnaHQ9IjU1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTItNTUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MiIgaGVpZ2h0PSI1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUyIiBoZWlnaHQ9IjU1IiBmaWxsPSJ1cmwoI2ctMTUyLTU1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUyIiB0bz0iMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggHO0R-Eerh_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUyIiBoZWlnaHQ9IjU1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTItNTUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MiIgaGVpZ2h0PSI1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUyIiBoZWlnaHQ9IjU1IiBmaWxsPSJ1cmwoI2ctMTUyLTU1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUyIiB0bz0iMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggHO0R-Eerh_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUyIiBoZWlnaHQ9IjU1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTItNTUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MiIgaGVpZ2h0PSI1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUyIiBoZWlnaHQ9IjU1IiBmaWxsPSJ1cmwoI2ctMTUyLTU1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUyIiB0bz0iMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggHO0R-Eerh_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--objf-tablet:cover;--w:152px;--w-tablet:152px;--w-mobile:152px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gM-zKZvNPz"
        class="gM-zKZvNPz"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggM-zKZvNPz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    
    <div data-id="geMw_xWmAh"  style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:var(--g-s-xxs);--jc:center">
            <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g64PLocm1c ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gut5OO7hgK" class="gp-leading-[0] gut5OO7hgK" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gut5OO7hgK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gut5OO7hgK " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gsiBTabtcd ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gmn6PDMvNz" class="gp-leading-[0] gmn6PDMvNz" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gmn6PDMvNz" class="icon-wrapper gp-inline-flex gp-overflow-hidden gmn6PDMvNz " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gFXvbhxgpZ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gRhYnEQ6Ik" class="gp-leading-[0] gRhYnEQ6Ik" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gRhYnEQ6Ik" class="icon-wrapper gp-inline-flex gp-overflow-hidden gRhYnEQ6Ik " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gH1Rkg0ctO ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gU8fadtjkB" class="gp-leading-[0] gU8fadtjkB" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gU8fadtjkB" class="icon-wrapper gp-inline-flex gp-overflow-hidden gU8fadtjkB " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gRDJASP71j ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g2MAp6SknY" class="gp-leading-[0] g2MAp6SknY" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g2MAp6SknY" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2MAp6SknY " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJvTlvHGyu"}' data-id="gJvTlvHGyu" id="gJvTlvHGyu" data-same-height-subgrid-container class="gJvTlvHGyu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-s);--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gLDFN6Fgpp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gerPoRm9Xn"
        class="gerPoRm9Xn"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggerPoRm9Xn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gP8Zr2jVuJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8A_smBOxg"
        class="g8A_smBOxg"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8A_smBOxg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pb:16px" class="g4fqok5wtp ">
      
    <div data-id="g4fqok5wtp" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#E0E0E0" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giVkvd5RoC"
        class="giVkvd5RoC"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiVkvd5RoC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-584260026869220212 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/amw9gb-1k/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=584260018077958744&sectionId=584260026869220212)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggb9ltyiD1M_text","label":"ggb9ltyiD1M_text","default":"<p>LIMITED TIME DEAL</p>"},{"type":"html","id":"gg4CPdBhjYz_text","label":"gg4CPdBhjYz_text","default":"<p>PLAY WORRY-FREE&nbsp;<br>WITH OUR EXTENDED WARRANTY</p>"},{"type":"html","id":"gg1mMa-2Wft_dayLabel","label":"gg1mMa-2Wft_dayLabel","default":"Days"},{"type":"html","id":"gg1mMa-2Wft_hourLabel","label":"gg1mMa-2Wft_hourLabel","default":"Hours"},{"type":"html","id":"gg1mMa-2Wft_minuteLabel","label":"gg1mMa-2Wft_minuteLabel","default":"Minutes"},{"type":"html","id":"gg1mMa-2Wft_secondLabel","label":"gg1mMa-2Wft_secondLabel","default":"Seconds"},{"type":"html","id":"gg1mMa-2Wft_weekLabel","label":"gg1mMa-2Wft_weekLabel","default":"Weeks"},{"type":"html","id":"gghgIsDW_aR_text","label":"gghgIsDW_aR_text","default":"<p>2 extra years of software and hardware coverage - for the discounted price!</p>"},{"type":"html","id":"ggLx0jNldwt_displayContent","label":"ggLx0jNldwt_displayContent","default":"Save {amount_discount}"},{"type":"html","id":"ggh20ext2O-_label","label":"ggh20ext2O-_label","default":"GET LIMITED DEAL"},{"type":"html","id":"ggh20ext2O-_outOfStockLabel","label":"ggh20ext2O-_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggh20ext2O-_unavailableLabel","label":"ggh20ext2O-_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggh20ext2O-_variantSelectionRequiredMessage","label":"ggh20ext2O-_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggh20ext2O-_successMessage","label":"ggh20ext2O-_successMessage","default":"Add product to cart successfully"},{"type":"html","id":"ggh20ext2O-_errorMessage","label":"ggh20ext2O-_errorMessage","default":"Cannot add product to cart"},{"type":"html","id":"ggi7HcMl7L9_srcSet_desktop_src","label":"ggi7HcMl7L9_srcSet_desktop_src","default":"https://ucarecdn.com/362d980c-8bf3-4185-b717-8cf4209fd99e/-/format/auto/"},{"type":"html","id":"ggHO0R-Eerh_srcSet_desktop_src","label":"ggHO0R-Eerh_srcSet_desktop_src","default":"https://ucarecdn.com/741bb249-bedc-4dbc-a63b-782595c87e71/-/format/auto/"},{"type":"html","id":"ggM-zKZvNPz_text","label":"ggM-zKZvNPz_text","default":"<p>2-Year Care Pack</p>"},{"type":"html","id":"ggerPoRm9Xn_text","label":"ggerPoRm9Xn_text","default":"<p>$60.00</p>"},{"type":"html","id":"gg8A_smBOxg_text","label":"gg8A_smBOxg_text","default":"<p>$72.00</p>"},{"type":"html","id":"ggiVkvd5RoC_text","label":"ggiVkvd5RoC_text","default":"<ul><li>Remote diagnostics and phone technical support.</li><li>Prepaid shipping label, materials, and instructions.</li><li>Convenient door-to-door service, protection against accidental damage.</li><li>Next Business Day Exchange.</li></ul>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}